/*____________________ chatroom.css ____________________*/
#messageCenter {
	position:relative;
	height:100%;
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#messageCenter > .toolbar {
	width:100%;
	height:30px;
	background-color:lightgray;
}
#actionControls {
	padding:0px;
	margin:0px;
	height:inherit;
	list-style:none;
}
#actionControls .actControl {
	list-style:none;
	margin:0px 5px;
	padding:0px;
	height:inherit;
	float:left;
}