/*____________________ chatroom.css ____________________*/
#messageCenter {
	position:relative;
	height:100%;
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.chatroom {
	position:relative;
	min-width:800px;
}
.chatroom > .threadList {
	float:left;
	height:100%;
	background-color:#F5F5F5;
	border-right:1px solid rgba(166, 166, 166, 1);
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:25%;
	min-width:200px;
}
.thread {
	height:75px;
	padding:5px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-bottom:1px solid rgba(166, 166, 166, 1);
}
.thread:hover {
	background-color:#EEE;
}
.thread.selected {
	background-color:#DDD;
}
.thread > .userName {
	font-weight:bold;
	font-size:110%;
}
.thread > .threadContent {
	overflow:auto;
}
.thread .threadSubject {
	float:left;
	font-weight:bold;
	max-width:
}
.thread .threadDate {
	float:right;
	font-style:italic;
}
.threadSnippet {
	clear:both;
	padding:3px;
}

.messageList {
	float:left;
	width:75%;
	height:100%;
}

.messageTextArea {
    padding: 0;
}
.newThreadContainer {
    border: 1px solid;
    display: none;
}
.threadContainer {
    min-height: 50px;
    margin: 10px;
    padding: 3px 9px;
}
.threadText {
    border: 1px #DDD;
}
.userLink {
    cursor: pointer;
}
}