/*____________________ Main.css ____________________*/
body {
	font-family: "Verdana", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size:11px;
	margin:0px;
	background:url(images/bg.png) center no-repeat;
	background-attachment:fixed;
	height:100%;
	overflow:auto;
}
a, a.visited {
	text-decoration:none;
	outline:none;
}
.noDisplay {
	display:none;
}

/*__________ Header __________*/
.uiMainHeader {
	position:fixed;
	top:0px;
	bottom:0px;
	height:100%;
	width:250px;
	z-index:50;
	background-color:#EEE;
	border-right:1px solid rgba(166, 166, 166, 0.3);
}
.uiMainToolbar {
	height:100%;
	overflow:auto;
}
.uiMainToolbar #userArea {
	z-index:5;
	overflow:auto;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.uiMainToolbar .navigation {
	padding:0px;
	margin:0px;
}
.navMenu {
	padding:0px;
	margin:0px;
	list-style:none;
}
.navMenu > .navItem {
	line-height:25px;
	padding-left:25px;
	height:25px;
	vertical-align:middle;
}
.navItem form, .navItem form .label_button {
	height:25px;
}
.navItem a {
	text-decoration:none;
	color:#3871E0;
	width:100%;
	display:block;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.navItem a.visited {
	text-decoration:none;
	color:#3871E0;
}
.navItem:hover {
	background-color:rgba(166, 166, 166, 0.2);
}
.navItem.separator {
	height:1px;
	background-color:#FFF;
	width:70%;
	margin:3px auto;
}
#userArea > #userControl {
	overflow:auto;
	height:70px;
	min-width:200px;
	cursor:pointer;
	color:#3871E0;
	font-size:12px;
	font-weight:bold;
	background-color:#FFF;
	border:1px solid rgba(56, 113, 224, 0.6);
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin:25px;
	box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);//rgba(56, 113, 224, 0.2);
}
#userArea > #userControl .avatar {
	margin:9px;
	width:50px;
	height:50px;
	float:left;
	background-color:rgba(166, 166, 166, 0.1);
}
#userArea > #userControl .user {
	float:left;
	padding:0px;
	margin:0px;
	padding-top:10px;
	line-height:50px;
	max-width:130px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow:hidden;
}
.navMenu button {
	background:none;
	border:none;
}
.uiMainToolbar .signature {
	width:100%;
	float:left;
	margin-top:50px;
	padding:5px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.signature .title {
	font-weight:bold;
	font-size:14px;
}
/*__________ MainContent __________*/
.uiMainContent {
	height:100%;
	padding-left:250px;
	overflow:auto;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.uiMainContent .uiHeader {
	height:70px;
	
	color:#3871E0;
	font-weight:bold;
	line-height:70px;
	padding-left:8px;
	font-size:18px;
}